@import '../utils/';

.createboard-container {
  .form {
    margin-top: rem(45);
    &__row {
      width: 100%;
      &--title {
        height: rem(52);
        margin-bottom: rem(45);
        border-bottom: 1px solid $black;
      }
      &--type {
        background-color: antiquewhite;
        margin-bottom: rem(28);
      }
      &--position {
        background-color: bisque;
        margin-bottom: rem(14);
      }
      &--editor {
        background-color: aquamarine;
        min-height: rem(351);
        margin-bottom: rem(26);
      }
      &--buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .form-text {
    width: 100%;
    height: 100%;
  }

  .form-radio {
    width: 100%;
    height: 100%;
    &__label {
      cursor: pointer;
      display: inline-block;
      margin-right: rem(25);
    }
    &__radio {
    }
  }

  .form-checkbox {
    &__icons {
      margin-top: rem(4);
    }
    &__label {
      &:hover {
        cursor: pointer;
      }
      margin-right: rem(18);
      width: rem(51);
      height: rem(51);
      display: inline-block;
      background-repeat: no-repeat;
      &--top {
        background-image: url(../images/icon-top.png);
      }
      &--jungle {
        background-image: url(../images/icon-jungle.png);
      }
      &--mid {
        background-image: url(../images/icon-mid.png);
      }
      &--adc {
        background-image: url(../images/icon-adc.png);
      }
      &--support {
        background-image: url(../images/icon-support.png);
      }
    }
    &__checkbox {
    }
  }

  // @include mobile {
  //   background-color: pink;
  // }
}
