@import '../utils/';

.membership-body {
  background-image: url('../images/signin-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
}

.membership-header {
  img {
    display: block;
    @include autoMargin;
  }
  @include desktop {
    padding-top: rem(40px);
    padding-bottom: rem(40px);

    img {
      width: rem(120px);
      height: rem(120px);
    }
  }

  @include mobile {
    margin-top: rem(60px);
    margin-bottom: rem(40px);
  }

  img {
    width: rem(100px);
    height: rem(100px);
  }
}

.membership-main {
  position: relative;
  background-color: white;
  border-radius: 2%;
  @include autoMargin;
  min-height: rem(400px);
  @include desktop {
    width: rem(380px);
  }
  @include mobile {
    min-width: rem(260px);
    width: 80%;
  }
}

// @keyframes text-field-animate-in {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     top: 0;
//     left: 0;
//   }
// }

.login-form {
  padding: 0 10%;
  padding-top: rem(20px);

  &__title {
    text-align: center;
    font-weight: bold;

    @include desktop {
      font-size: rem(30px);
      padding: 5% 0;
    }

    @include mobile {
      font-size: rem(18px);
      padding: 5% 0;
    }
  }

  &__error-message {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: rem(10px);

    color: $inputErrorPlaceholder;

    @include desktop {
      font-size: rem(15px);
      margin-top: rem(-20px);
      margin-bottom: rem(30px);
    }

    @include mobile {
      margin-top: rem(-10px);
      margin-bottom: rem(20px);
    }
  }

  &__input {
    display: block;
    width: 100%;
    min-width: rem(200px);
    min-height: rem(40px);
    border-radius: rem(5px);
    background-color: $input;
    outline: none;
    font-weight: bold;
    box-sizing: border-box;

    &:hover {
      background-color: #e5e5e5;
      transition: 0.1s;
    }

    &:focus {
      outline: 3px solid black;
      background-color: $white;
      // color: white;
      // animation: 0.55s text-field-animate-in cubic-bezier(0.22, 0.68, 0, 1) backwards;
    }

    @include desktop {
      text-indent: 1.5rem;
      font-size: rem(15px);
      margin-top: rem(15px);
      margin-bottom: rem(15px);
      padding: rem(20px) 0;
      padding-right: 0;
    }

    @include mobile {
      text-indent: 1rem;
      font-size: rem(12px);
      margin-top: rem(10px);
      margin-bottom: rem(10px);
      padding: rem(10px) 0;
      padding-right: 0;
    }
  }

  &__password-icon {
    position: absolute;
    cursor: pointer;

    @include desktop {
      width: rem(24px);
      height: rem(24px);
      left: rem(305px);
      top: rem(235px);
    }

    @include mobile {
      right: 13%;
      top: 42%;
    }
  }

  &__checkbox {
    display: block;
    position: relative;
    user-select: none;

    line-height: 1.8;

    margin: rem(20px) 0;

    @include desktop {
      font-size: rem(12px);
      padding-left: rem(30px);
    }

    @include mobile {
      font-size: rem(8px);
      padding-left: rem(24px);
    }

    input:checked ~ &--checkmark {
      background-color: $main;
    }

    &--checkmark {
      position: absolute;
      top: 0;
      left: 0;

      @include desktop {
        height: rem(20px);
        width: rem(20px);
      }

      @include mobile {
        height: rem(15px);
        width: rem(15px);
      }
      border-radius: rem(2px);
      background-color: $input;

      &:hover {
        background-color: #e5e5e5;
        transition: 0.1s;
      }

      &:after {
        content: '';
        position: absolute;
        display: none;
      }
    }

    input:checked ~ &--checkmark:after {
      display: block;
    }

    .login-form__checkbox--checkmark:after {
      left: 6px;
      top: 1px;
      width: 7px;
      height: 15px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__button {
    display: block;
    box-sizing: border-box;
    padding: 16px 48px;
    border-radius: 4px;
    background-color: $main;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    border: none;
    color: $white;
    margin-bottom: rem(30px);

    box-shadow: 0 4px 4px 0px $gray04;

    &:disabled {
      border: 3px solid #dadada;
      color: #dadada;
      background-color: $white;
      box-shadow: none;
    }
  }

  &__goto-signup {
    display: block;
    text-align: center;
    margin-bottom: rem(50px);

    @include desktop {
      font-size: rem(15px);
    }

    @include mobile {
      font-size: rem(12px);
    }
  }
}

.error-input {
  background-color: $inputError;
  border: 3px solid $inputErrorBorder;

  &:hover {
    background-color: $inputErrorHover;
  }

  &::placeholder {
    color: $inputErrorPlaceholder;
  }
}
