@import '../utils/';

.header {
  color: $black;
  background-color: $white;
  padding: 0 20px;

  &__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      padding-top: 20px;
    }
  }

  & > h1 {
    margin: 0;
  }

  &__logo {
    height: 40px;

    @include mobile {
      height: 28px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    position: relative;

    &-link {
      font-size: 20px;
      font-weight: 700;

      &:hover {
        color: $main;
      }

      &.login-info {
        display: flex;
        justify-content: center;
      }
    }

    &-create-pot {
      margin-right: 54px;
      @include mobile {
        margin-right: 40px;
      }
    }

    &-username {
      margin-right: 12px;
    }

    &-user-img {
      width: 40px;
      height: 40px;
      background: url('../images/defaultUser.png');
      background-size: cover;
      border-radius: 50%;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      margin-right: 16px;
    }

    &-setting-list {
      position: absolute;
      z-index: 100;
      background-color: $white;
      top: 130%;
      right: 0;
      padding: 14px 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
      font-size: 14px;
      font-weight: 700;
      line-height: 2;
      & a {
        display: block;
      }
      & a:hover {
        color: $main;
      }
    }
  }
}
