@import '../utils/';

.main__filter-position {
  color: $black;

  &-title {
    line-height: 1.5;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 900;
  }

  &-list {
    display: flex;
    justify-content: space-between;

    & img {
      width: 60px;
    }
  }

  &-item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    & button {
      padding: 8px;
      border-radius: 10px;
      margin: 0;
      line-height: 0;
      background-color: transparent;

      &.select {
        box-shadow: 0 0 0 4px $main inset;
        background-color: rgba($color: $main, $alpha: 0.2);
      }

      &.open {
        box-shadow: 0 0 0 4px $main inset, 0px 4px 4px rgba(0, 0, 0, 0.15);
        &:hover {
          box-shadow: 0 0 0 4px $main inset, 0px 4px 4px rgba(0, 0, 0, 0.15);
          background-color: rgba($color: $main, $alpha: 0.2);
        }
      }

      &.close {
        box-shadow: 0 0 0 4px $gray04 inset;
        opacity: 0.4;
        &:hover {
          box-shadow: 0 0 0 4px $gray04 inset;
          cursor: default;
        }
      }

      &:hover {
        box-shadow: 0 0 0 4px $main inset;
      }
    }
  }
}
