<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POT-팟생성</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />

    <!-- <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script> -->
    <!-- <script src="//cdn.quilljs.com/1.0.0/quill.min.js"></script> -->
    <!-- <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet"> -->
  </head>

  <body>
    <!-- 헤더 -->
    <header class="header">
      <div class="header__wrapper">
        <h1>
          <a class="header__logo-link" href="javascript:void(0);">
            <img class="header__logo" src="./images/logo.png" alt="logo" />
          </a>
        </h1>
        <nav class="header__nav">
          <a class="header__nav-link" href="/src/create"><span class="header__nav-create-pot">POT 생성</span></a>
          <a class="header__nav-link login-info" href="javascript:void(0);">
            <span class="header__nav-login">로그인</span>
            <!-- <span class="header__nav-username">왕치</span>
          <span class="header__nav-userinfo">
            <a role="button" class="header__nav-user-img"></a>
            <box-icon type="solid" name="down-arrow" color="#4c4c4c" size="20px"></box-icon>
          </span>
          <div class="header__nav-setting-list">
            <a href="javascript:void(0);">
              <div class="created-pot">작성한 POT</div>
            </a>
            <a href="javascript:void(0);">
              <div class="applied-pot">신청한 POT</div>
            </a>
            <a href="javascript:void(0);">
              <div class="participanted-pot">참여한 POT</div>
            </a>
            <a href="javascript:void(0);">
              <div class="set-user">설정</div>
            </a>
            <a href="javascript:void(0);">
              <div class="logout">로그아웃</div>
            </a>
          </div> -->
          </a>
        </nav>
      </div>
    </header>
    <main>
      <h2 class="a11y-hidden">팟 생성하기</h2>
      <div class="createboard-container">
        <form class="form createboard-form" method="post">
          <div class="form__row form__row--title">
            <label for="title"></label>
            <input
              type="text"
              name="title"
              id="title"
              class="form-text"
              placeholder="제목을 입력하세요"
              maxlength="40"
              required
            />
          </div>

          <div class="form__row form__row--type">
            <fieldset class="form-radio">
              <legend class="a11y-hidden">게임 타입을 선택해주세요.</legend>
              <input type="radio" name="type" id="2POT" value="2 POT" class="form-radio__radio" checked />
              <label for="2POT" class="button button-deactive form-radio__label">2POT</label>
              <input type="radio" name="type" id="5POT" value="5 POT" class="form-radio__radio" />
              <label for="5POT" class="button button-deactive form-radio__label">5POT</label>
            </fieldset>
          </div>

          <div class="form__row form__row--position">
            <fieldset class="form-checkbox">
              <legend>필요한 포지션을 선택해주세요.</legend>
              <div class="form-checkbox__icons">
                <input type="checkbox" name="position" id="top" class="form-checkbox__checkbox" value="top" />
                <label for="top" class="form-checkbox__label form-checkbox__label--top" aria-label="탑"></label>
                <input type="checkbox" name="position" id="jug" class="form-checkbox__checkbox" value="jug" />
                <label for="jug" class="form-checkbox__label form-checkbox__label--jug" aria-label="정글"></label>
                <input type="checkbox" name="position" id="mid" class="form-checkbox__checkbox" value="mid" />
                <label for="mid" class="form-checkbox__label form-checkbox__label--mid" aria-label="미드"></label>
                <input type="checkbox" name="position" id="adc" class="form-checkbox__checkbox" value="adc" />
                <label for="adc" class="form-checkbox__label form-checkbox__label--adc" aria-label="ADC"></label>
                <input type="checkbox" name="position" id="sup" class="form-checkbox__checkbox" value="sup" />
                <label for="sup" class="form-checkbox__label form-checkbox__label--sup" aria-label="서포트"></label>
              </div>
            </fieldset>
          </div>

          <div class="form__row form__row--editor editor">
            <div id="editor__api"></div>
          </div>

          <div class="form__row form__row--buttons">
            <a href="#" class="button closed">뒤로가기</a>
            <button class="button" type="submit">글쓰기</button>
          </div>
        </form>
      </div>
    </main>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  </body>
</html>
