<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
  <title>POT</title>
</head>

<body>
  <div class="loading__container">
    <div class="loading"></div>
  </div>
  <!-- 헤더 -->
  <header class="header">
    <div class="header__wrapper">
      <h1>
        <a class="header__logo-link" href="/">
          <img class="header__logo" src="/images/logo.png" alt="logo">
        </a>
      </h1>
      <nav class="header__nav">
        <a class="header__nav-link" href="javascript:void(0);"><span class="header__nav-create-pot">POT 생성</span></a>
        <span class="header__nav-link login-info"></span>
      </nav>
    </div>
  </header>

  <div class="detailboard-main__container">
    <main class="main">
      <div class="main__container">
        <div class="main__board-title">
          <div class="main__board-title-wrapper">
            <div class="pot-tag-wrapper">
              <span class="pot-tag">5 POT</span>
            </div>
            <h2 class="pot-title">피시방 리그 준비합니다. 원딜 급구</h2>
            <div class="pot-info">
              <div class="pot-info-user">
                <img class="pot-info-user-emblem" src="" alt="user-emblem" />
                <span class="pot-info-user-summoner-name">|푸른피|</span>
              </div>
              <time datetime="2021-11-10">2021-11-10</time>
            </div>
          </div>
        </div>
        <div class="main__wrapper form">
          <div class="form__position">
            <div class="form-radio">
              <h2 class="a11y-hidden">필요한 포지션을 선택해주세요.</h2>
              <div class="form-radio__icons">
                <input type="radio" name="position" id="top" class="form-radio__checkbox top" value="top" />
                <label for="top" class="form-radio__label form-radio__label--top" aria-label="탑"></label>
                <input type="radio" name="position" id="jug" class="form-radio__checkbox jug" value="jug" />
                <label for="jug" class="form-radio__label form-radio__label--jug" aria-label="정글"></label>
                <input type="radio" name="position" id="mid" class="form-radio__checkbox mid" value="mid" />
                <label for="mid" class="form-radio__label form-radio__label--mid" aria-label="미드"></label>
                <input type="radio" name="position" id="adc" class="form-radio__checkbox adc" value="adc" />
                <label for="adc" class="form-radio__label form-radio__label--adc" aria-label="ADC"></label>
                <input type="radio" name="position" id="sup" class="form-radio__checkbox sup" value="sup" />
                <label for="sup" class="form-radio__label form-radio__label--sup" aria-label="서포트"></label>
              </div>
            </div>
          </div>
          <div class="form__content">
          </div>
        </div>

      </div>
      <button class="detailboard-button button" disabled>신청하기</buttom>
    </main>
  </div>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</body>

</html>