<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>POT</title>
</head>

<body class="background-gray">
  <!-- 헤더 -->
  <header class="header">
    <div class="header__wrapper">
      <h1>
        <a class="header__logo-link" href="/">
          <img class="header__logo" src="/images/logo.png" alt="logo">
        </a>
      </h1>
      <nav class="header__nav">
        <a class="header__nav-link" href="javascript:void(0);"><span class="header__nav-create-pot">POT 생성</span></a>
        <span class="header__nav-link login-info"></span>
      </nav>
    </div>
  </header>

  <div class="createdpot-main__container">
    <main class="main">
      <div class="main__container">
        <div class="main__board-title">
          <div class="main__board-title-wrapper">
            <h2 class="pot-title center">참여한 POT</h2>
          </div>
        </div>
        <div class="main__wrapper card-list">
          <div class="card__wrapper">
            <a href="javascript:void(0);" class="card">
              <span class="card__type">5 POT</span>
              <h2 class="card__title">피시방 리그 준비합니다.</h2>
              <ul class="position">
                <li class="position__item">
                  <img src="./images/position/top.png" alt="top" class="position__img" />
                </li>
                <li class="position__item">
                  <img src="./images/position/jungle.png" alt="jungle" class="position__img" />
                </li>
                <li class="position__item">
                  <img src="./images/position/mid.png" alt="mid" class="position__img" />
                </li>
                <li class="position__item">
                  <img src="./images/position/bottom.png" alt="adc" class="position__img" />
                </li>
                <li class="position__item">
                  <img src="./images/position/support.png" alt="support" class="position__img" />
                </li>
              </ul>
              <div class="card__detail">
                <div class="user">
                  <img src="./images/emblem/gold.png" alt="티어" class="user__tier" />
                  <span class="user__name">|푸른피|</span>
                </div>
                <span class="regDate">2021-11-07</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>