<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>POT</title>
</head>

<body class="background-gray">
  <!-- 헤더 -->
  <header class="header">
    <div class="header__wrapper">
      <h1>
        <a class="header__logo-link" href="/">
          <img class="header__logo" src="/images/logo.png" alt="logo" />
        </a>
      </h1>
      <nav class="header__nav">
        <a class="header__nav-link" href="javascript:void(0);"><span class="header__nav-create-pot">POT 생성</span></a>
        <span class="header__nav-link login-info"></span>
      </nav>
    </div>
  </header>

  <div class="createdpot-main__container">
    <main class="main">
      <div class="main__container">
        <div class="main__board-title">
          <div class="main__board-title-wrapper">
            <h2 class="pot-title center">작성한 POT</h2>
          </div>
        </div>
        <div class="main__wrapper card-list">
          <div class="card__wrapper"></div>
        </div>
      </div>
      <div class="main__wrapper card-list">
        <div class="card__wrapper"></div>
      </div>
    </main>
  </div>
</body>

</html>