<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 정보 수정</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrapper">
        <h1>
          <a class="header__logo-link" href="javascript:void(0);">
            <img class="header__logo" src="./images/logo.png" alt="logo" />
          </a>
        </h1>
        <nav class="header__nav">
          <a class="header__nav-link" href="/src/create"><span class="header__nav-create-pot">POT 생성</span></a>
          <a class="header__nav-link login-info">
            <!-- <span class="header__nav-login">로그인</span> -->
            <span class="header__nav-username">왕치</span>
            <span class="header__nav-userinfo">
              <a role="button" class="header__nav-user-img"></a>
              <box-icon type="solid" name="down-arrow" color="#4c4c4c" size="20px"></box-icon>
            </span>
            <!-- <div class="header__nav-setting-list hidden">
              <a href="javascript:void(0);">
                <div class="created-pot">작성한 POT</div>
              </a>
              <a href="javascript:void(0);">
                <div class="applied-pot">신청한 POT</div>
              </a>
              <a href="javascript:void(0);">
                <div class="participanted-pot">참여한 POT</div>
              </a>
              <a href="javascript:void(0);">
                <div class="set-user">설정</div>
              </a>
              <a href="javascript:void(0);">
                <div class="logout">로그아웃</div>
              </a>
            </div> -->
          </a>
        </nav>
      </div>
    </header>
    <div class="setting-container">
      <main class="main">
        <div class="main__container">
          <div class="main__wrapper">
            <h2 class="setting-container__title">내 정보 수정</h2>
            <form class="form">
              <div class="form__row form__row--img">
                <img src="./../images/defaultUser.png" alt="프로필이미지" class="form-file__image" />
                <label for="profil" class="button form-file__label">
                  이미지 선택
                  <input type="file" id="profil" class="form-file__file" />
                </label>
              </div>
              <div class="form__row form__row--summoner">
                <label for="summoner" class="form-text__label">소환사명</label>
                <div class="form-text__input-container">
                  <input
                    type="text"
                    id="summoner"
                    class="form-text__input"
                    placeholder="여기에 소환사 명을 입력하세요."
                  />
                  <button type="button" class="button form-text__button">이름 확인</button>
                  <div class="form-text__input-container--msg">
                    <!-- 이부분 동적 처리 -->
                    <img src="../images/success.svg" alt="성공" />
                    <span>올바른 소환사 명입니다.</span>
                  </div>
                </div>
              </div>
              <div class="form__row form__row--buttons">
                <button class="button submit">완료</button>
                <button type="button" class="button button-warn">회원 탈퇴</button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
