<ul class="main__filter-position-list">
  <li class="main__filter-position-item all">
    <button class="select">
      <img src="./images/position/all.png" alt="all">
    </button>
  </li>
  <li class="main__filter-position-item top">
    <button>
      <img src="./images/position/top.png" alt="top">
    </button>
  </li>
  <li class="main__filter-position-item jungle">
    <button>
      <img src="./images/position/jungle.png" alt="jungle">
    </button>
  </li>
  <li class="main__filter-position-item mid">
    <button>
      <img src="./images/position/mid.png" alt="mid">
    </button>
  </li>
  <li class="main__filter-position-item bottom">
    <button>
      <img src="./images/position/bottom.png" alt="bottom">
    </button>
  </li>
  <li class="main__filter-position-item support">
    <button>
      <img src="./images/position/support.png" alt="support">
    </button>
  </li>
</ul>