<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body class="background-gray">
    <header class="header">
      <div class="header__wrapper">
        <h1>
          <a class="header__logo-link" href="javascript:void(0);">
            <img class="header__logo" src="./images/logo.png" alt="logo" />
          </a>
        </h1>
        <nav class="header__nav">
          <a class="header__nav-link" href="/src/create"><span class="header__nav-create-pot">POT 생성</span></a>
          <a class="header__nav-link login-info" href="javascript:void(0);">
            <span class="header__nav-login">로그인</span>
            <!-- <span class="header__nav-username">왕치</span>
          <span class="header__nav-userinfo">
            <a role="button" class="header__nav-user-img"></a>
            <box-icon type="solid" name="down-arrow" color="#4c4c4c" size="20px"></box-icon>
          </span>
          <div class="header__nav-setting-list">
            <a href="javascript:void(0);">
              <div class="created-pot">작성한 POT</div>
            </a>
            <a href="javascript:void(0);">
              <div class="applied-pot">신청한 POT</div>
            </a>
            <a href="javascript:void(0);">
              <div class="participanted-pot">참여한 POT</div>
            </a>
            <a href="javascript:void(0);">
              <div class="set-user">설정</div>
            </a>
            <a href="javascript:void(0);">
              <div class="logout">로그아웃</div>
            </a>
          </div> -->
          </a>
        </nav>
      </div>
    </header>
    <div class="main-container">
      <main class="main">
        <div class="main__container">
          <div class="over-main__wrapper">
            <div class="banner"></div>
            <div class="pot-button">
              <button class="button pot-button__btn">2 POT</button>
              <button class="button button-deactive pot-button__btn">5 POT</button>
            </div>
          </div>
          <div class="main__filter-container">
            <div class="main__filter-wrapper">
              <ul class="main__filter-position-list">
                <li class="main__filter-position-item all">
                  <button class="select">
                    <img src="./images/position/all.png" alt="all" />
                  </button>
                </li>
                <li class="main__filter-position-item top">
                  <button>
                    <img src="./images/position/top.png" alt="top" />
                  </button>
                </li>
                <li class="main__filter-position-item jungle">
                  <button>
                    <img src="./images/position/jungle.png" alt="jungle" />
                  </button>
                </li>
                <li class="main__filter-position-item mid">
                  <button>
                    <img src="./images/position/mid.png" alt="mid" />
                  </button>
                </li>
                <li class="main__filter-position-item bottom">
                  <button>
                    <img src="./images/position/bottom.png" alt="bottom" />
                  </button>
                </li>
                <li class="main__filter-position-item support">
                  <button>
                    <img src="./images/position/support.png" alt="support" />
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="main__wrapper">
            <div class="card__wrapper">
              <a href="javascript:void(0);" class="card">
                <span class="card__type">5 POT</span>
                <h2 class="card__title">피시방 리그 준비합니다.</h2>
                <ul class="position">
                  <li class="position__item">
                    <img src="./images/position/top.png" alt="top" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/jungle.png" alt="jungle" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/mid.png" alt="mid" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/bottom.png" alt="adc" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/support.png" alt="support" class="position__img" />
                  </li>
                </ul>
                <div class="card__detail">
                  <div class="user">
                    <img src="./images/emblem/gold.png" alt="티어" class="user__tier" />
                    <span class="user__name">|푸른피|</span>
                  </div>
                  <span class="regDate">2021-11-07</span>
                </div>
              </a>
              <a href="javascript:void(0);" class="card">
                <span class="card__type">5 POT</span>
                <h2 class="card__title">피시방 리그 준비합니다.</h2>
                <ul class="position">
                  <li class="position__item">
                    <img src="./images/position/top.png" alt="top" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/jungle.png" alt="jungle" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/mid.png" alt="mid" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/bottom.png" alt="adc" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/support.png" alt="support" class="position__img" />
                  </li>
                </ul>
                <div class="card__detail">
                  <div class="user">
                    <img src="./images/emblem/gold.png" alt="티어" class="user__tier" />
                    <span class="user__name">|푸른피|</span>
                  </div>
                  <span class="regDate">2021-11-07</span>
                </div>
              </a>
              <a href="javascript:void(0);" class="card">
                <span class="card__type">5 POT</span>
                <h2 class="card__title">피시방 리그 준비합니다.</h2>
                <ul class="position">
                  <li class="position__item">
                    <img src="./images/position/top.png" alt="top" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/jungle.png" alt="jungle" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/mid.png" alt="mid" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/bottom.png" alt="adc" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/support.png" alt="support" class="position__img" />
                  </li>
                </ul>
                <div class="card__detail">
                  <div class="user">
                    <img src="./images/emblem/gold.png" alt="티어" class="user__tier" />
                    <span class="user__name">전생에개미였대</span>
                  </div>
                  <span class="regDate">2021-11-07</span>
                </div>
              </a>
              <a href="javascript:void(0);" class="card">
                <span class="card__type">5 POT</span>
                <h2 class="card__title">피시방 리그 준비합니다. 게임하쉴분</h2>
                <ul class="position">
                  <li class="position__item position__item--completed">
                    <img src="./images/position/top.png"" alt="top" class="position__img"/>
                  </li>
                  <li class="position__item position__item--completed">
                    <img src="./images/position/jungle.png" alt="jungle" class="position__img" />
                  </li>
                  <li class="position__item position__item--completed">
                    <img src="./images/position/mid.png"" alt="mid" class="position__img"/>
                  </li>
                  <li class="position__item">
                    <img src="./images/position/bottom.png" alt="adc" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/support.png" alt="support" class="position__img" />
                  </li>
                </ul>
                <div class="card__detail">
                  <div class="user">
                    <img src="./images/emblem/gold.png" alt="티어" class="user__tier" />
                    <span class="user__name">|푸른피|</span>
                  </div>
                  <span class="regDate">2021-11-07</span>
                </div>
              </a>
              <a href="javascript:void(0);" class="card">
                <span class="card__type">5 POT</span>
                <h2 class="card__title">피시방 리그 준비합니다.</h2>
                <ul class="position">
                  <li class="position__item">
                    <img src="./images/position/top.png" alt="top" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/jungle.png" alt="jungle" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/mid.png" alt="mid" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/bottom.png" alt="adc" class="position__img" />
                  </li>
                  <li class="position__item">
                    <img src="./images/position/support.png" alt="support" class="position__img" />
                  </li>
                </ul>
                <div class="card__detail">
                  <div class="user">
                    <img src="./images/emblem/gold.png" alt="티어" class="user__tier" />
                    <span class="user__name">|푸른피|</span>
                  </div>
                  <span class="regDate">2021-11-07</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
