<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signin</title>
  </head>
  <body class="body">
    <!-- <img class="background" src="./images/signin-background.png" alt="배경" /> -->
    <header class="signin-header">
      <h1><img src="./images/signinLogo.png" alt="로고" /></h1>
    </header>
    <main class="main">
      <form action="" class="main__login">
        <fieldset>
          <legend>로그인</legend>
          <span class="main__login-error-message">계정이름과 비밀번호가 일치하지 않습니다.</span>
          <input type="text" name="id" placeholder="계정이름" />
          <input type="password" placeholder="비밀번호" />

          <input type="checkbox" id="checkbox" /><label for="checkbox">로그인 상태 유지</label>

          <button class="button" disabled>비활성화</button>
          <span>계정 생성하기</span>
        </fieldset>
      </form>
    </main>
  </body>
</html>
