<div class="card__wrapper">
  <a href="javascript:void(0);" class="card">
    <span class="card__type">5 POT</span>
    <h2 class="card__title">피시방 리그 준비합니다.</h2>
    <ul class="position">
      <li class="position__item">
        <img src="./images/position/top.png" alt="top" class="position__img" />
      </li>
      <li class="position__item">
        <img src="./images/position/jungle.png" alt="jungle" class="position__img" />
      </li>
      <li class="position__item">
        <img src="./images/position/mid.png" alt="mid" class="position__img" />
      </li>
      <li class="position__item">
        <img src="./images/position/bottom.png" alt="adc" class="position__img" />
      </li>
      <li class="position__item">
        <img src="./images/position/support.png" alt="support" class="position__img" />
      </li>
    </ul>
    <div class="card__detail">
      <div class="user">
        <img src="./images/emblem/gold.png" alt="티어" class="user__tier" />
        <span class="user__name">|푸른피|</span>
      </div>
      <span class="regDate">2021-11-07</span>
    </div>
  </a>
</div>
