<!-- 헤더 -->
<header class="header">
  <div class="header__wrapper">
    <h1>
      <a class="header__logo-link" href="javascript:void(0);">
        <img class="header__logo" src="./images/logo.png" alt="logo" />
      </a>
    </h1>
    <nav class="header__nav">
      <a class="header__nav-link" href="./createboard.html"><span class="header__nav-create-pot">POT 생성</span></a>
      <a class="header__nav-link login-info" href="javascript:void(0);">
        <span class="header__nav-login">로그인</span>
        <!-- <span class="header__nav-username">왕치</span>
          <span class="header__nav-userinfo">
            <a role="button" class="header__nav-user-img"></a>
            <box-icon type="solid" name="down-arrow" color="#4c4c4c" size="20px"></box-icon>
          </span>
          <div class="header__nav-setting-list">
            <a href="javascript:void(0);">
              <div class="created-pot">작성한 POT</div>
            </a>
            <a href="javascript:void(0);">
              <div class="applied-pot">신청한 POT</div>
            </a>
            <a href="javascript:void(0);">
              <div class="participanted-pot">참여한 POT</div>
            </a>
            <a href="javascript:void(0);">
              <div class="set-user">설정</div>
            </a>
            <a href="javascript:void(0);">
              <div class="logout">로그아웃</div>
            </a>
          </div> -->
      </a>
    </nav>
  </div>
</header>
