//  기본 색상 --------------------------------------------------------- /

$purple: #9182f6;
$red: #ff3838;
$white: #ffffff;
$gray05: #818181;
$gray04: #c4c4c4;
$gray03: #dadada;
$gray02: #f0f0f0;
$gray01: #f8f9fa;
$black: #4c4c4c;

$main: $purple;
$background: $gray01;

// 로그인에서 사용한 색상 -------------------------------------- /

$input: #eeeeee;
$inputPlaceholder: #898989;
$inputBorder: #444444;

$inputError: #f0e4f4;
$inputErrorBorder: #e2bfea;
$inputErrorHover: #eddbf3;
$inputErrorPlaceholder: #b037c5;
